# Enable development behavior for commands that import the app directly
FASTAPI_ENV=development

PROJECT_NAME="Full Stack FastAPI Project"

SECRET_KEY=**************
FIRST_SUPERUSER=**************
FIRST_SUPERUSER_PASSWORD=**************

# Emails
SMTP_HOST=localhost
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=False
SMTP_PORT=1025

# Postgres
POSTGRES_PASSWORD=**************
DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@localhost:5432/app
